<title><%= title %></title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/all.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!--<script src="./js/jquery.dataTables.min.js"></script>-->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>