body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

footer {
  border-top: 1px solid lightgray;
  padding: 15px;
  margin: auto 0;
  text-align: center;
}

.highlight > td > input[type=text] {
  color: green;
  border: solid 1px green;
}

.hide {
  visibility: hidden;
  display: none;
}
